body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

.navbar {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
}

.navbar ul li .active {
  color: #399bd1;
}

.carousel {
  top: -2rem;
}

.jumbotron {
  height: 60rem;
  padding-top: 10rem;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.background-bike {
  background-image: url('../images/jumbotron-bike.jpg');
}

.background-flowers {
  background-image: url('../images/jumbotron-flowers.jpg');
}

.background-duffel {
  background-image: url('../images/jumbotron-duffel.jpg');
}

.background-beer {
  background-image: url('../images/jumbotron-beer.jpg');
}

.jumbotron h1 {
  font-family: 'Monoton', sans-serif;
  font-size: 10rem;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
}

.btn-wrapper {
  position: relative;
  top: -28rem;
  text-align: center;
}

/*.jumbotron .btn {*/
.btn-primary {
  width: 160px;
  margin-top: 5.5rem;
  padding: 1.6rem 0;
  background-color: #399bd1;
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.25s;
}

.jumbotron a {
  text-shadow: initial;
}

.jumbotron .btn:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.jumbotron .btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.projects {
  padding-bottom: 5.85rem;
}

.image-container {
  overflow: hidden;
}

img {
  width: 100%;
}

.featured-project {
  margin-top: -10rem;
}

.featured-project .image-container {
  height: 30rem;
  margin-top: 20px;
}

.image-container img {
  opacity: 0.7;
  transition: transform 0.5s, opacity 0.5s;
}

.image-container img:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
	transform: scale(1.3);
  opacity: 1;
}

.featured-project h2 {
  margin-top: -0.5rem;
  margin-bottom: -1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.7rem;
  font-weight: bold;
}

.categories h3 {
  color: #399bd1;
}

.categories ul {
  line-height: 1.5;
  color: rbga(0, 0, 0, 0.7);
}

.projects .image-container {
  height: 19.5rem;
  overflow: hidden;
}

.learn-more {
  background-color: #f3f3f3;
  padding: 5.7rem 0;
  text-align: center;
}

.learn-more strong {
  display: inline-block;
  margin-bottom: 1.9rem;
  font-size: 3.0rem;
  font-weight: bold;
}

.learn-more p {
  max-width: 42rem;
  margin: auto;
}
